# Data cleaning using Pandas

In [21]:
import pandas as pd

In [55]:
df=pd.read_excel('Customer Call List.xlsx')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [56]:
df.drop(columns=["Not_Useful_Column"], inplace=True)

In [36]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [57]:
df['Last_Name']=df['Last_Name'].str.strip('/..._')

In [42]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [45]:
str(df['Phone_Number'])

'0     123-545-5421\n1     123/643/9775\n2       7066950392\n3     123-543-2345\n4     876|678|3469\n5     304-762-2467\n6              NaN\n7     876|678|3469\n8              N/a\n9     123-545-5421\n10             NaN\n11      7066950392\n12    123-543-2345\n13    876|678|3469\n14    304-762-2467\n15    123-545-5421\n16    123/643/9775\n17      7066950392\n18             N/a\n19    876|678|3469\n20    876|678|3469\nName: Phone_Number, dtype: object'

0     123-545-5421
1     123/643/9775
2       7066950392
3     123-543-2345
4     876|678|3469
5     304-762-2467
6              NaN
7     876|678|3469
8              N/a
9     123-545-5421
10             NaN
11      7066950392
12    123-543-2345
13    876|678|3469
14    304-762-2467
15    123-545-5421
16    123/643/9775
17      7066950392
18             N/a
19    876|678|3469
20    876|678|3469
Name: Phone_Number, dtype: object

In [58]:
df['Phone_Number']=df['Phone_Number'].str.replace('[^a-zA-Z0-9]','')

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [63]:
df['Phone_Number']=df['Phone_Number'].apply(lambda x:str(x))
df["Phone_Number"]

0     123---5-4-5-
1     123--/6-4-3/
2          nan----
3     123---5-4-3-
4     876--|6-7-8|
5     304---7-6-2-
6          nan----
7     876--|6-7-8|
8          N/a----
9     123---5-4-5-
10         nan----
11         nan----
12    123---5-4-3-
13    876--|6-7-8|
14    304---7-6-2-
15    123---5-4-5-
16    123--/6-4-3/
17         nan----
18         N/a----
19    876--|6-7-8|
20    876--|6-7-8|
Name: Phone_Number, dtype: object

In [62]:
df["Phone_Number"] = df["Phone_Number"].apply(lambda x:x[0:3]+'-'+x[3:6]+'-'+x[6:10])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123---5-4-5-,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123--/6-4-3/,93 West Main Street,No,Yes
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123---5-4-3-,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876--|6-7-8|,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304---7-6-2-,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan----,1209 South Street,No,No
7,1008,Sherlock,Holmes,876--|6-7-8|,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a----,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123---5-4-5-,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123---5-4-3-,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876--|6-7-8|,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304---7-6-2-,214 HR Avenue,N,No
15,1016,Ron,Weasley,123---5-4-5-,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123--/6-4-3/,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a----,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876--|6-7-8|,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876--|6-7-8|,"910 Tatooine Road, Tatooine",Yes,N

In [68]:
df['Address'].str.split()

0                      [123, Shire, Lane,, Shire]
1                        [93, West, Main, Street]
2                          [298, Drugs, Driveway]
3     [980, Paper, Avenue,, Pennsylvania,, 18503]
4                            [123, Dragons, Road]
5                            [768, City, Parkway]
6                           [1209, South, Street]
7                               [98, Clue, Drive]
8                            [123, Middle, Earth]
9                [25th, Main, Street,, New, York]
10                     [612, Shire, Lane,, Shire]
11                       [2394, Hogwarts, Avenue]
12                           [2039, Main, Street]
13                           [343, City, Parkway]
14                              [214, HR, Avenue]
15                       [2395, Hogwarts, Avenue]
16            [121, Paper, Avenue,, Pennsylvania]
17                            [3498, Super, Lane]
18                                          [N/a]
19               [910, Tatooine, Road,, Tatooine]
20               [910, Tatooine, Road,, Tatooine]
Name: Address, dtype: object

In [69]:
df[["Street_Address", "State", "Zip_Code"]] = df["Address"].str.split(',',2, expand=True)
df

TypeError: StringMethods.split() takes from 1 to 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [70]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123---5-4-5-,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123--/6-4-3/,93 West Main Street,No,Yes
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123---5-4-3-,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876--|6-7-8|,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304---7-6-2-,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan----,1209 South Street,No,No
7,1008,Sherlock,Holmes,876--|6-7-8|,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a----,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123---5-4-5-,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123---5-4-3-,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876--|6-7-8|,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304---7-6-2-,214 HR Avenue,N,No
15,1016,Ron,Weasley,123---5-4-5-,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123--/6-4-3/,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a----,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876--|6-7-8|,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876--|6-7-8|,"910 Tatooine Road, Tatooine",Yes,N

In [77]:
df["Paying Customer"]=df["Paying Customer"].str.replace('Yes','Y')
df["Paying Customer"]=df["Paying Customer"].str.replace('No','N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123---5-4-5-,"123 Shire Lane, Shire",Y,No
1,1002,Abed,Nadir,123--/6-4-3/,93 West Main Street,N,Yes
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123---5-4-3-,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876--|6-7-8|,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304---7-6-2-,768 City Parkway,Y,Yes
6,1007,Jeff,Winger,nan----,1209 South Street,N,No
7,1008,Sherlock,Holmes,876--|6-7-8|,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a----,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,123---5-4-5-,"25th Main Street, New York",Y,No
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Y,No
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123---5-4-3-,2039 Main Street,Y,N
13,1014,Leslie,Knope,876--|6-7-8|,343 City Parkway,Y,No
14,1015,Toby,Flenderson,304---7-6-2-,214 HR Avenue,N,No
15,1016,Ron,Weasley,123---5-4-5-,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123--/6-4-3/,"121 Paper Avenue, Pennsylvania",Y,No
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a----,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876--|6-7-8|,"910 Tatooine Road, Tatooine",Y,N
20,1020,Anakin,Skywalker,876--|6-7-8|,"910 Tatooine Road, Tatooine",Y,N

In [82]:
df.dropna(subset="Paying Customer",inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123---5-4-5-,"123 Shire Lane, Shire",Y,No
1,1002,Abed,Nadir,123--/6-4-3/,93 West Main Street,N,Yes
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123---5-4-3-,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876--|6-7-8|,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304---7-6-2-,768 City Parkway,Y,Yes
6,1007,Jeff,Winger,nan----,1209 South Street,N,No
7,1008,Sherlock,Holmes,876--|6-7-8|,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a----,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,123---5-4-5-,"25th Main Street, New York",Y,No
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Y,No
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123---5-4-3-,2039 Main Street,Y,N
13,1014,Leslie,Knope,876--|6-7-8|,343 City Parkway,Y,No
14,1015,Toby,Flenderson,304---7-6-2-,214 HR Avenue,N,No
15,1016,Ron,Weasley,123---5-4-5-,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123--/6-4-3/,"121 Paper Avenue, Pennsylvania",Y,No
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a----,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876--|6-7-8|,"910 Tatooine Road, Tatooine",Y,N
20,1020,Anakin,Skywalker,876--|6-7-8|,"910 Tatooine Road, Tatooine",Y,N

In [85]:
df = df.dropna(subset="Phone_Number", inplace=True)

AttributeError: 'NoneType' object has no attribute 'dropna'